.MuiCard-root {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.MuiTypography-root {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.MuiTextField-root {
  margin-bottom: 1rem;
}

.MuiButton-root {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-transform: none;
}

.MuiButton-root:hover {
  background-color: #0056b3;
}

.MuiIconButton-root {
  padding: 0.3rem;
}
