.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/images/aaa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 16px;
}

.MuiTypography-root {
  color: white;
}
